*{
    margin: 0;
    padding: 0;


}

#countvalue{
    font-size: 30px;
    
}


.btn{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: white;
    margin: 20px;
}

.bg-red{
    background-color: red;
}

.bg-black{
    background-color: black;
}
.bg-green{
    background-color: green;
}


